<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/add"><button>Add Member</button></a>
    </nav>
    <h1>Nyanza Fox</h1>
    <table border="1">
        <tr>
            <th>Name.</th>
            <th>Address</th>
            <th>Cinta Pertama</th>
            <th>Personality</th>
            <th>Action</th>
        </tr>
        <% for(let person of people){ %>
            <tr>
                <td><%= person.getTitle() %></td>
                <td><%= person.address %></td>
                <td><%= person.firstCrush %></td>
                <td><%= person.Personality.name %></td>
                <td><a href="/delete/<%= person.id %>">Delete</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>